#discourse-modal.gate {
  // if custom gate enabled
  &.custom-gate {
    .modal-inner-container {
      background-color: #{$custom_gate_background_color};
    }
    .modal-footer {
      color: #{$custom_gate_link_color};
      a {
       color: #{$custom_gate_link_color};
      }
    }
    .custom-gate-content {
      text-align: #{$custom_gate_image_position};
      img {
        width: #{$custom_gate_image_width};
        height: auto;
        margin-bottom: 0.75em;
      }
      h2 {
        color: #{$custom_gate_big_text_color};
        text-align: #{$custom_gate_big_text_position};
      }
      p {
        color: #{$custom_gate_little_text_color};
        text-align: #{$custom_gate_little_text_position};
      }
    }
  }
  .modal-inner-container {
    background-color: var(--secondary);
  }
  .modal-header {
    border-bottom: none;
  }
  .modal-body {
    padding: 0 1em;
  }
  .modal-footer {
    color: var(--primary-medium);
    justify-content: #{$gate_footer_position};
    a {
      color: var(--primary-medium);
      outline: none;
      margin: 0 0.25em;
    }
  }
  #login-buttons {
    margin-bottom: 0.75em;
    text-align: center;
    .btn-social {
      margin: 0.25em;
      .mobile-view & {
        width: 100%;
      }
      &:focus,
      &:hover {
        background: var(--secondary);
        color: var(--primary);
        .d-icon {
          color: var(--primary);
        }
      }
    }
    .mobile-view & {
      width: 100%;
    }
  }
}

@if $gate-show-when-thumbnail-clicked == "true" {
  .anon {
    // Old lightbox
    .mfp-wrap {
      button,
      .mfp-preloader {
        display: none;
      }
    }
    // New lightbox
    #discourse-lightbox {
      display: none;
    }
  }
}
